# Environment / Secrets
.env
.env.production
.env.staging
.env.local
*.key
*.pem
!nginx/ssl.conf

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Docker
docker-data/

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log
